body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
}

.logo{
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    margin-left: 10px;
}

/* @keyframes shake {
    0%{
        rotate: 10;
    }
    25%{
        rotate: -30;
    }
    50%{
        rotate:5;
    }
    70%{
        rotate: -5;
    }
    100%{
        rotate: 0;
    }
    
}
.logo:hover{
    animation: shake 0.3 ease-in 
} */
header{
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: space-between;
align-items: center;
align-items: center;
width: 100%;
z-index: 1000000;
}
ul {
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

}

ul li  {
    list-style: none;

}
ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover{
    color:red;
}
.search{
    margin-right: 10px;
}

.search input {
    outline: none;
    background-color: transparent;
    border-radius:  1px solid white;
    

}
.search input::placeholder{
    color:white;
}

.search i {
    position: absolute;
    top: 20px;
    left: 95%;
    color: white;
}
.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    background-image: url(/assest/movies/bg-little-mermaid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, 0.5);
    z-index: 99;

}

.content{
    visibility: hidden;
    position:absolute;
    top: 150px;
    left: 40px;
    display: none;
    transform: scale(0);
    transition: .5s;
    z-index: 1000;
}
.content.active{
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: .5s;
}
.movie-title{
    max-width: 150px ;
    max-height: 150px;
    z-index: 10000;
}

.content h4 {
    font-size: 20px;
    font-weight: bold;
    color: rgba(255,255, 255, .5);
}
.content h4 span {
    padding: 3px ;
    border-left: 1px solid rgba(255,255, 255, 0.5);
}
.content h4 span:first-child{
    border-left: none;
}
.content h4 span:last-child{
    border-right: none;
}

.content h4 span i {
    background-color:rgba(255,0, 0,.6);
    padding: 4px;
    color: white;
}
.content p {
    font-size: 20px;
    font-weight: 400;
    max-width: 400px;
    color: white;
}
.content .button {
position: relative;
display: inline-block;
}
.content .button a{
background-color: rgba(255,0, 0,.6);
color: white;
text-decoration: none;
padding: 5px;
font-weight: bold;
}
.content .button a:nth-child(2){
    background-color: transparent;
    border: 1px solid rgba(255,255, 255, .5);
    border-radius: 2px;
cursor: pointer;
}
.content .button a:nth-child(2):hover{
    transition: .3s;
background-color: rgba(255,0, 0,.6);
color: white;
text-decoration: none;
padding: 5px;
font-weight: bold;
}

div.carsol-box{
    width: 100%;
    left: 20%;
    z-index: 10000;
    top: 0;
    position:absolute;
}

.play{
    position:absolute;
    bottom: 30px;
    left: 60px;
    z-index: 4000;
    color: white;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    line-height: 4px;
   
}

/* .play i {
    font-size: 24px;
    
} */

.play:hover{
    color: rgba(255,0, 0,.6);
    transition: .3s;
}

.sci{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 20px;
    left: 39%;
    z-index: 10000;
}

.sci li {
    padding: 4px;
} 
.sci li a{
    transition: 0.3s;
}